---
import Pill from './Pill.astro';
import Icon from './Icon.astro';
import Image from './public/assets/omkar-patil.jpeg';
---

<div class="hero-wrapper">
  <div class="hero-content animate-fade-in">
    <img src="/assets/omkar-patil.jpeg" alt="Omkar Patil" class="profile-image">
    <div class="text-content">
      <h1>Hello, I'm <br/><span class="name">Omkar Patil</span></h1>
      <div class="roles">
        <p class="role animate-slide-in" style="animation-delay: 0.2s;">Video Editor</p>
        <p class="role animate-slide-in" style="animation-delay: 0.4s;">Storyteller</p>
      </div>
    </div>
  </div>
</div>

<style>
  /* Center everything inside the viewport */
  .hero-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh; /* Full height of viewport */
    width: 75%;
  }

  .hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    text-align: center;
    max-width: 83rem;
  }

  .profile-image {
    width: 450px; /* Adjust size as needed */
    height: auto;
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  }

  .text-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  h1 {
    font-size: var(--text-5xl);
    color: var(--gray-0);
    line-height: 1.2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .name {
    font-family: var(--font-special);
    font-size: var(--text-6xl);
    background: linear-gradient(to right, #FFD700, #FFC107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: block;
    margin-top: 0.5rem;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.2));
  }

  .roles {
    display: flex;
    gap: 1rem;
    font-size: var(--text-xl);
    color: var(--gray-300);
    flex-wrap: wrap;
    justify-content: center;
  }

  .role {
    opacity: 0;
  }

  .role:not(:last-child)::after {
    content: "•";
    margin-left: 1rem;
    color: var(--accent-regular);
  }

  /* Responsive Design */
  @media (max-width: 1024px) {
  .hero-content {
    flex-direction: column;
    text-align: center;
    height: 75vh;
    width: 75%;
    padding-top: 80px;
  }

  .text-content {
    align-items: center;
  }

  .profile-image {
    width: 200px; /* Smaller image on mobile */
  }

  h1 {
    font-size: var(--text-2xl); /* Reduce heading size */
  }

  .name {
    font-size: var(--text-3xl); /* Reduce name size */
  }

  .roles {
    font-size: var(--text-base); /* Reduce role text size */
  }
}
</style>
